## Data Cleaning with Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Will not work, since it is not encoded in UTF-8
# laptops = pd.read_csv("laptops.csv") 

laptops = pd.read_csv("laptops.csv", encoding="Latin-1")
laptops.head(3)

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"

In [3]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

### Clean column names:

In [4]:
# laptops[" Storage"] has a whitespace
new_columns = []
for c in laptops.columns:
    new_columns.append(c.strip())
laptops.columns = new_columns

In [5]:
# Function to clean column names
def clean_col(col):
    col = col.strip() # remove whitespaces
    col = col.replace("Operating System", "os")
    col = col.replace(" ", "_") # replace space with underscore
    col = col.replace("(", "") # remove parantheses
    col = col.replace(")", "")
    col = col.lower() # make string lowercase
    return col

cleaned_cols = []
for c in laptops.columns:
    cleaned_cols.append(clean_col(c))
laptops.columns = cleaned_cols
laptops.columns

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

### Changing column datatypes

Change these from string object to numeric:
1. screen size
2. RAM
3. weight

- Explore the data
- Identify patterns and special cases
- Remove non-numeric chars
- Convert the datatype

In [6]:
# Explore the data
print(laptops["screen_size"].dtype)
print(laptops["screen_size"].unique())

object
['13.3"' '15.6"' '15.4"' '14.0"' '12.0"' '11.6"' '17.3"' '10.1"' '13.5"'
 '12.5"' '13.0"' '18.4"' '13.9"' '12.3"' '17.0"' '15.0"' '14.1"' '11.3"']

Patterns and special cases:
- All values in this column have digit and period characters, followed by a quote character (").
- No special cases.
- Need to convert the column to a float dtype, as the int dtype won't be able to store the decimal values.

In [7]:
print(laptops["ram"].dtype)
print(laptops["ram"].unique())

object
['8GB' '16GB' '4GB' '2GB' '12GB' '6GB' '32GB' '24GB' '64GB']

Patterns and special cases:
- All values in this column have digit characters, followed by a GB.
- No special cases.
- Can convert to int dtype.

In [8]:
# Explore the data
print(laptops["weight"].dtype)
print(laptops["weight"].unique())

object
['1.37kg' '1.34kg' '1.86kg' '1.83kg' '2.1kg' '2.04kg' '1.3kg' '1.6kg'
 '2.2kg' '0.92kg' '1.22kg' '0.98kg' '2.5kg' '1.62kg' '1.91kg' '2.3kg'
 '1.35kg' '1.88kg' '1.89kg' '1.65kg' '2.71kg' '1.2kg' '1.44kg' '2.8kg'
 '2kg' '2.65kg' '2.77kg' '3.2kg' '0.69kg' '1.49kg' '2.4kg' '2.13kg'
 '2.43kg' '1.7kg' '1.4kg' '1.8kg' '1.9kg' '3kg' '1.252kg' '2.7kg' '2.02kg'
 '1.63kg' '1.96kg' '1.21kg' '2.45kg' '1.25kg' '1.5kg' '2.62kg' '1.38kg'
 '1.58kg' '1.85kg' '1.23kg' '1.26kg' '2.16kg' '2.36kg' '2.05kg' '1.32kg'
 '1.75kg' '0.97kg' '2.9kg' '2.56kg' '1.48kg' '1.74kg' '1.1kg' '1.56kg'
 '2.03kg' '1.05kg' '4.4kg' '1.90kg' '1.29kg' '2.0kg' '1.95kg' '2.06kg'
 '1.12kg' '1.42kg' '3.49kg' '3.35kg' '2.23kg' '4.42kg' '2.69kg' '2.37kg'
 '4.7kg' '3.6kg' '2.08kg' '4.3kg' '1.68kg' '1.41kg' '4.14kg' '2.18kg'
 '2.24kg' '2.67kg' '2.14kg' '1.36kg' '2.25kg' '2.15kg' '2.19kg' '2.54kg'
 '3.42kg' '1.28kg' '2.33kg' '1.45kg' '2.79kg' '1.84kg' '2.6kg' '2.26kg'
 '3.25kg' '1.59kg' '1.13kg' '1.78kg' '1.10kg' '1.15kg' '1.27kg' '1.43kg'
 '2.31kg' '1.16kg' '1.64kg' '2.17kg' '1.47kg' '3.78kg' '1.79kg' '0.91kg'
 '1.99kg' '4.33kg' '1.93kg' '1.87kg' '2.63kg' '3.4kg' '3.14kg' '1.94kg'
 '1.24kg' '4.6kg' '4.5kg' '2.73kg' '1.39kg' '2.29kg' '2.59kg' '2.94kg'
 '1.14kg' '3.8kg' '3.31kg' '1.09kg' '3.21kg' '1.19kg' '1.98kg' '1.17kg'
 '4.36kg' '1.71kg' '2.32kg' '4.2kg' '1.55kg' '0.81kg' '1.18kg' '2.72kg'
 '1.31kg' '0.920kg' '3.74kg' '1.76kg' '1.54kg' '2.83kg' '2.07kg' '2.38kg'
 '3.58kg' '1.08kg' '2.20kg' '2.75kg' '1.70kg' '2.99kg' '1.11kg' '2.09kg'
 '4kgs' '3.0kg' '0.99kg' '3.52kg' '2.591kg' '2.21kg' '3.3kg' '2.191kg'
 '2.34kg' '4.0kg']

Patterns and special cases:
- All values in this column have digit and period characters, followed by kg.
- In one case, we have kgs instead of kg.
- Need to convert the column to a float dtype.

Replacing non-numeric characters: <br>
We can use the Series.str.replace() method, which is a vectorized version of the Python str.replace() method

In [9]:
laptops["screen_size"] = laptops["screen_size"].str.replace('"','')
laptops["screen_size"].unique()

array(['13.3', '15.6', '15.4', '14.0', '12.0', '11.6', '17.3', '10.1',
       '13.5', '12.5', '13.0', '18.4', '13.9', '12.3', '17.0', '15.0',
       '14.1', '11.3'], dtype=object)

In [10]:
laptops["ram"] = laptops["ram"].str.replace('GB','')
laptops["ram"].unique()

array(['8', '16', '4', '2', '12', '6', '32', '24', '64'], dtype=object)

In [11]:
laptops["weight"] = laptops["weight"].str.replace('kg','')
laptops["weight"] = laptops["weight"].str.replace('s','')
laptops["weight"].unique()

array(['1.37', '1.34', '1.86', '1.83', '2.1', '2.04', '1.3', '1.6', '2.2',
       '0.92', '1.22', '0.98', '2.5', '1.62', '1.91', '2.3', '1.35',
       '1.88', '1.89', '1.65', '2.71', '1.2', '1.44', '2.8', '2', '2.65',
       '2.77', '3.2', '0.69', '1.49', '2.4', '2.13', '2.43', '1.7', '1.4',
       '1.8', '1.9', '3', '1.252', '2.7', '2.02', '1.63', '1.96', '1.21',
       '2.45', '1.25', '1.5', '2.62', '1.38', '1.58', '1.85', '1.23',
       '1.26', '2.16', '2.36', '2.05', '1.32', '1.75', '0.97', '2.9',
       '2.56', '1.48', '1.74', '1.1', '1.56', '2.03', '1.05', '4.4',
       '1.90', '1.29', '2.0', '1.95', '2.06', '1.12', '1.42', '3.49',
       '3.35', '2.23', '4.42', '2.69', '2.37', '4.7', '3.6', '2.08',
       '4.3', '1.68', '1.41', '4.14', '2.18', '2.24', '2.67', '2.14',
       '1.36', '2.25', '2.15', '2.19', '2.54', '3.42', '1.28', '2.33',
       '1.45', '2.79', '1.84', '2.6', '2.26', '3.25', '1.59', '1.13',
       '1.78', '1.10', '1.15', '1.27', '1.43', '2.31', '1.16', '1.64',
       '2.17', '1.47', '3.78', '1.79', '0.91', '1.99', '4.33', '1.93',
       '1.87', '2.63', '3.4', '3.14', '1.94', '1.24', '4.6', '4.5',
       '2.73', '1.39', '2.29', '2.59', '2.94', '1.14', '3.8', '3.31',
       '1.09', '3.21', '1.19', '1.98', '1.17', '4.36', '1.71', '2.32',
       '4.2', '1.55', '0.81', '1.18', '2.72', '1.31', '0.920', '3.74',
       '1.76', '1.54', '2.83', '2.07', '2.38', '3.58', '1.08', '2.20',
       '2.75', '1.70', '2.99', '1.11', '2.09', '4', '3.0', '0.99', '3.52',
       '2.591', '2.21', '3.3', '2.191', '2.34', '4.0'], dtype=object)

Converting to required datatype using astype()

In [12]:
laptops["screen_size"] = laptops["screen_size"].astype(float)
print(laptops["screen_size"].dtype)
print(laptops["screen_size"].unique())

float64
[13.3 15.6 15.4 14.  12.  11.6 17.3 10.1 13.5 12.5 13.  18.4 13.9 12.3
 17.  15.  14.1 11.3]

In [13]:
laptops["ram"] = laptops["ram"].astype(int)
print(laptops["ram"].dtype)
print(laptops["ram"].unique())

int32
[ 8 16  4  2 12  6 32 24 64]

In [14]:
laptops["weight"] = laptops["weight"].astype(float)
print(laptops["weight"].dtype)
print(laptops["weight"].unique())

float64
[1.37  1.34  1.86  1.83  2.1   2.04  1.3   1.6   2.2   0.92  1.22  0.98
 2.5   1.62  1.91  2.3   1.35  1.88  1.89  1.65  2.71  1.2   1.44  2.8
 2.    2.65  2.77  3.2   0.69  1.49  2.4   2.13  2.43  1.7   1.4   1.8
 1.9   3.    1.252 2.7   2.02  1.63  1.96  1.21  2.45  1.25  1.5   2.62
 1.38  1.58  1.85  1.23  1.26  2.16  2.36  2.05  1.32  1.75  0.97  2.9
 2.56  1.48  1.74  1.1   1.56  2.03  1.05  4.4   1.29  1.95  2.06  1.12
 1.42  3.49  3.35  2.23  4.42  2.69  2.37  4.7   3.6   2.08  4.3   1.68
 1.41  4.14  2.18  2.24  2.67  2.14  1.36  2.25  2.15  2.19  2.54  3.42
 1.28  2.33  1.45  2.79  1.84  2.6   2.26  3.25  1.59  1.13  1.78  1.15
 1.27  1.43  2.31  1.16  1.64  2.17  1.47  3.78  1.79  0.91  1.99  4.33
 1.93  1.87  2.63  3.4   3.14  1.94  1.24  4.6   4.5   2.73  1.39  2.29
 2.59  2.94  1.14  3.8   3.31  1.09  3.21  1.19  1.98  1.17  4.36  1.71
 2.32  4.2   1.55  0.81  1.18  2.72  1.31  3.74  1.76  1.54  2.83  2.07
 2.38  3.58  1.08  2.75  2.99  1.11  2.09  4.    0.99  3.52  2.591 2.21
 3.3   2.191 2.34 ]

Lastly, we rename the columns to prevent loss of information. <br>
We can use the DataFrame.rename() method with axis=1 for columns

In [15]:
laptops.rename({"screen_size": "screen_size_inches"}, axis=1, inplace=True)
laptops.rename({"ram": "ram_gb"}, axis=1, inplace=True)
laptops.rename({"weight": "weight_kg"}, axis=1, inplace=True)
laptops.dtypes[["screen_size_inches","ram_gb", "weight_kg"]]

screen_size_inches    float64
ram_gb                  int32
weight_kg             float64
dtype: object

### Extracting part of a column value
Extract the GPU and CPU manufacturer names and add them as new columns. <br>
Also extract processor speed from CPU.

In [16]:
laptops["gpu"]

0       Intel Iris Plus Graphics 640
1             Intel HD Graphics 6000
2              Intel HD Graphics 620
3                 AMD Radeon Pro 455
4       Intel Iris Plus Graphics 650
                    ...
1298           Intel HD Graphics 520
1299           Intel HD Graphics 520
1300               Intel HD Graphics
1301              AMD Radeon R5 M330
1302               Intel HD Graphics
Name: gpu, Length: 1303, dtype: object

In [17]:
laptops["cpu"]

0                       Intel Core i5 2.3GHz
1                       Intel Core i5 1.8GHz
2                 Intel Core i5 7200U 2.5GHz
3                       Intel Core i7 2.7GHz
4                       Intel Core i5 3.1GHz
                        ...
1298              Intel Core i7 6500U 2.5GHz
1299              Intel Core i7 6500U 2.5GHz
1300    Intel Celeron Dual Core N3050 1.6GHz
1301              Intel Core i7 6500U 2.5GHz
1302    Intel Celeron Dual Core N3050 1.6GHz
Name: cpu, Length: 1303, dtype: object

In [18]:
laptops["gpu_manufacturer"] = laptops["gpu"].str.split().str[0]

In [19]:
laptops["cpu_manufacturer"] = laptops["cpu"].str.split().str[0]

In [20]:
laptops["processor_speed"] = laptops["cpu"].str.split().str[-1]

In [21]:
laptops["gpu_manufacturer"].value_counts()

Intel     722
Nvidia    400
AMD       180
ARM         1
Name: gpu_manufacturer, dtype: int64

In [22]:
laptops["cpu_manufacturer"].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

In [23]:
laptops["processor_speed"].unique()

array(['2.3GHz', '1.8GHz', '2.5GHz', '2.7GHz', '3.1GHz', '3GHz', '2.2GHz',
       '1.6GHz', '2GHz', '2.8GHz', '1.2GHz', '2.9GHz', '2.4GHz',
       '1.44GHz', '1.5GHz', '1.9GHz', '1.1GHz', '2.0GHz', '1.3GHz',
       '2.6GHz', '3.6GHz', '1.60GHz', '3.2GHz', '1.0GHz', '2.1GHz',
       '0.9GHz', '1.92GHz', '2.50GHz', '2.70GHz'], dtype=object)

### Inconsistent values

There are two variations of macOS in the OS column. <br>
We can use the Series.map() method to correct this (or correct multiple such inconsistencies in a column at the same time).

In [24]:
laptops["os"].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

In [25]:
# How map() function works
s = pd.Series(['a', 'c', 'b'])
correction = {'a':'A', 'b':'B', 'c':'C'}
s.map(correction)

0    A
1    C
2    B
dtype: object

In [26]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops["os"] = laptops["os"].map(mapping_dict)
laptops["os"].unique()

array(['macOS', 'No OS', 'Windows', 'Linux', 'Android', 'Chrome OS'],
      dtype=object)

### Null values
How to deal with missing values:
- Remove any rows that have missing values.
- Remove any columns that have missing values.
- Fill the missing values with some other value.
- Leave the missing values as is.

In [27]:
# Check for null values
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_gb                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight_kg               0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
processor_speed         0
dtype: int64

We can use the DataFrame.dropna() method to remove or drop rows and columns with null values.

In [28]:
laptops_no_null_rows = laptops.dropna(axis=0)
print(laptops.shape)
print(laptops_no_null_rows.shape)

(1303, 16)
(1133, 16)

In [29]:
laptops_no_null_cols = laptops.dropna(axis=1)
print(laptops.shape)
print(laptops_no_null_cols.shape)

(1303, 16)
(1303, 15)

This may not always be the best approach. For example, removing a disproportionate amount of one manufacturer's laptops could change our analysis. <br>
Explore the data further.

In [30]:
laptops["os_version"].value_counts(dropna=False)

10      1072
NaN      170
7         45
X          8
10 S       8
Name: os_version, dtype: int64

In [31]:
# Checking OS column too. Get the rows where os_version is null.

os_with_null_v = laptops.loc[laptops["os_version"].isnull(),"os"]
os_with_null_v.value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

- The most frequent value is "No OS". If there is no os, there shouldn't be a version defined in the os_version column.
- 13 of the laptops that come with macOS do not specify the version. We know that for MacOS os_version should be equal to X.

In [32]:
# Replacing the NaN values in os_version for macOS with X
laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"

In [33]:
# Replacing the NaN values in os_version for No OS with Version unknown
laptops.loc[laptops["os"] == "No OS", "os_version"] = "Version Unknown"

In [34]:
# There is nothing we can do for the remaining NaN values
laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()

Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64