In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
df.columns = ['company', 'job', 'degree', 'sal>100k']

In [4]:
inputs = df.drop('sal>100k', axis = 1)
target = df['sal>100k']

In [5]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [6]:
company_n = le_company.fit_transform(inputs['company'])
job_n = le_job.fit_transform(inputs['job'])
degree_n = le_degree.fit_transform(inputs['degree'])
data = np.array([company_n, job_n, degree_n])

In [7]:
# Get unique encoded values
comp_enc = list(np.unique(company_n))
# Inverse transform these unique values to get original labels corresponding to them
comp_labels = le_company.inverse_transform(comp_enc)
# print as a dict
comp_dict = {comp_labels[i]: comp_enc[i] for i in range(len(comp_labels))}
comp_dict

{'abc pharma': 0, 'facebook': 1, 'google': 2}

In [77]:
comp = comp_dict['google']
print(comp)

2

In [9]:
inputs_n = pd.DataFrame(data = data.T, columns = ['company_n', 'job_n', 'degree_n'])
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [36]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: sal>100k, dtype: int64

In [37]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [38]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [40]:
model.score(inputs_n,target)

1.0

In [78]:
# Google, Computer Engineer, Bachelors 
model.predict([[2,1,0]])[0]

0

In [81]:
# Google, Computer Engineer, Masters
model.predict([[2,1,1]])[0]

1

In [83]:
[1, 3] <= [1, 2, 3, 4, 5]

False